#shopping_cart {
    width: 8%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#shopping_cart img {
    height: 80%;
}

#logo {
    height: 30%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    height: 100%;
}

.latest_creations_carousel {
    width: 52.5%;
    height: 52.5vh;

    margin-left: 23.75%;
}

.carousel_control {
    height: 100% !important;
}

#latest_creations_carousel > div > p {
    font-size: 1.5rem;
}