* {
    overflow-x: hidden;
}

h1 {
    overflow: hidden;
}

h3 {
    overflow: hidden;
}

h4 {
    overflow: hidden;
}

:root{
    --background: #E7DFD4;
}

body{
 background-color: var(--background);
}
.navbar-light {
    background-color: #E0A486 !important;
}

.btn-light {
    background-color: #E0A486 !important;
}

.container {
    background-color: #E7DFD4 !important;
}

.row {
    background-color: #E7DFD4 !important;
}


.employeesInfo{
    background-color: #DEC1AE !important;
}

.img-fluid {
    max-width: 90% !important;
}


.MoodImg img {
    border-radius: 2.5rem !important;
}

p {
    font-size: 1rem;
}

.AboutUsText {
    max-width: 90% !important;
}